.dashboard__statistics-wrap{
     padding: 20px;

    & .ant-row{
        justify-content: space-evenly;
    }

    & .ant-col{
        min-width: 300px;
        padding: 8px;
    }
}

.dashboard__charts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard__waterfall-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}

.dashboard__waterfall{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 500px;
    height: 500px;
    width: 1000px;
}

.dashboard__pies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dashboard__pie-wrap{
    height: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 500px;
}


